@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "poppins";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand-color: #dd0426;
  --base-color: #1c1f22;
  --surface-color: #2a2d33;
  --text-color: #eff6ee;
  --secondary-text-color: #9197ae;
  --toggle-bg: #5c5f66;
  --base-transparent-90: rgba(28, 31, 34, 0.9);
  --base-transparent-100: rgba(28, 31, 34, 1);
}

.light-theme {
  --brand-color: #f02d3a;
  --base-color: #eff6ee;
  --surface-color: #ffffff;
  --text-color: #273043;
  --secondary-text-color: #9197ae;
  --toggle-bg: #c5c7cc;
  --base-transparent-90: rgba(239, 246, 238, 0.9);
  --base-transparent-100: rgba(239, 246, 238, 1);
}

body {
  margin: 2rem;
  background-color: var(--base-color);
  color: var(--text-color);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.add-button {
  cursor: pointer;
  background-color: var(--brand-color);
  color: white;
  font-weight: 500;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  /* transition: all 0.2s ease; */
}

.add-button:hover {
  background: #e64545;
}

.theme-toggle {
  background: var(--surface-color);
  color: var(--text-color);
  border: 1px solid var(--surface-color);
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.2s ease;
  margin-left: 1rem;
}

.theme-toggle:hover {
  background: var(--toggle-bg);
}

.notes-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

.note-card {
  background-color: var(--surface-color);
  border-radius: 0.5rem;
  padding: 1.5rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  border: 1px solid var(--surface-color);
  position: relative;
  transition: all 0.2s ease;
}

.note-card:hover {
  transform: scale(1.02);
}

.note-title, .note-title-box {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
  word-wrap: break-word;
}

.note-actions {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 1rem;
  right: 1rem;
  transition: all 0.2s ease;
}

.note-card:hover .note-actions {
  opacity: 1;
  visibility: visible;
}

.edit-button,
.delete-button,
.full-screen-button, .minimise-button {
  border: none;
  border: 1px solid var(--surface-color);
  border-radius: 0.3rem;
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
  font-size: 1.2rem;
  color: var(--text-color);
  background-color: var(--base-transparent-90);
  transition: all 0.2s ease;
}

.edit-button:hover, .full-screen-button:hover, .minimise-button:hover {
  background-color: var(--base-transparent-100);
  transform: scale(1.02);
}

.delete-button:hover {
  background-color: #ff5252;
  color: white;
}

.note-content {
  font-size: 1rem;
  line-height: 1.6;
  word-wrap: break-word;
  word-break: break-word;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: auto;
}

dialog {
  margin: auto;
  inset: 0;
  border: none;
  max-width: 500px;
  width: 90vw;
  border-radius: 1rem;
  color: var(--text-color);
  background-color: var(--surface-color);
  /* padding: 1rem; */
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.4); /* semi-transparent dark overlay */
  backdrop-filter: blur(1rem);           /* the actual blur effect */
}

.dialog-content {
  padding: 2rem;
}

.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.form-entry {
  margin-bottom: 1rem;
}

.form-label {
  display: block;
  margin: 0.25rem 0;
  font-weight: 500;
  color: var(--text-color);
}

.form-title-input, .form-content-input {
  width: 100%;
  padding: 0.2rem;
  border: none;
  border: 2px solid var(--text-color);
  color: var(--text-color);
  border-radius: 0.2rem;
  background-color: var(--base-color);
  font-size: 1rem;
}

.form-content-input{
  height: 10rem;
  resize: none;
}

.dialog-actions {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cancel-button,
.submit-button {
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 0.3rem;
  cursor: pointer;
  font-weight: 500;
}

.close-button {
  all: unset;
  display: inline-flex;
  cursor: pointer;
  border: none;
  width: fit-content;
  height: fit-content;
  color: var(--text-color);
  font-size: 1.5rem;
  border-radius: 0.2rem;
}

.cancel-button {
  background-color: var(--base-color);
  color: var(--text-color);
}

.submit-button {
  background-color: var(--brand-color);
  color: white;
}

#readNoteBox{
  padding: 2rem;
  max-width: 800px;
}

.note-content-box {
  font-size: 1rem;
  line-height: 1.6;
  word-wrap: break-word;
  word-break: break-word;
  white-space: pre-wrap;
  text-overflow: ellipsis;
  margin-bottom: auto;
}

.minimise-button{
  position: absolute;
  top: 2.5rem;
  right: 1rem;
}